interactions:
- request:
    method: POST
    uri: https://api.notion.com/v1/data_sources/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/query
    body: '{"page_size":100}'
    headers:
      authorization:
      - DUMMY
      content-type:
      - application/json
      notion-version:
      - '2025-09-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      string: '{"results":[{"id":"row-1"},{"id":"row-2"}],"has_more":false}'
version: 1
